* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

body {
	background: #EEE;
	color: #313154;

}
section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h2{
    color: #313154;
}


.create-todo input[type="text"] {
	display: block;
	width: 60%;
	font-size: 1rem;
	padding: 0.75rem 0.75rem;
	color: #313154;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: none;
	margin-bottom: 10px;
	margin-top: 15px;
}
.create-todo input[type="date"] {
	display: block;
	width: 20%;
	font-size: 1rem;
	border-radius: 0.5rem;
	margin-top: 15px;
	color: #313154;
	background-color: #FFF;
	padding: 0.75rem 0.75rem;
}

.create-todo input[type="submit"]{
	display: block;
	width: 60%;
	font-size: 1.125rem;
	padding: 0.75rem 0.75rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #4B9CD3;
	/* box-shadow: #13294B; */
	box-shadow: none;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}
.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}